# Python
__pycache__/
*.pyc
venv/
.venv/

# Django
db.sqlite3
*.log
/media/
/static/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment
.env
