# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
venv/
.venv/
env/

# Django
db.sqlite3
*.log
/media/
/static/
mediafiles/
staticfiles/

# Docker
*.pid

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
